<!DOCTYPE HTML>
<html>
    <head>
        <title>Dashboard - Star Module Demo</title>
        <% include partials/dependencies.ejs %>
    </head>
    <body>
        <% include partials/navigation.ejs %>
    </body>
</html>