<!DOCTYPE HTML>
<html>
    <head>
        <title>Logs - Star Module Demo</title>
        <% include partials/universal-dependencies/external-css.ejs %>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row align-items-start no-gutters">

                <% include partials/navigation.ejs %>

                <div class="col-lg-9 col-md-9 scrollable">

                    <div class="row content-top">
                        <header id="page-heading">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Inventory Logs</li>
                            </ol>
                            <h3> <small><span class="glyphicon glyphicon-menu-left sidebar-toggle" aria-hidden="true" id="sidebar-open"></span></small> Logs</h3>
                        </header>
                    </div>

                    <div class="row">
                        <div class="col-lg-11 col-md-11">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#receipts-table" role="tab">Reciept (Factory)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#transfers-table" role="tab">Transfer (In/Out Other)</a>
                                </li>
                        </div>
                    </div>

                   
                    <div class="row">
                        <div class="tab-content">
                            <div class="tab-pane active" id="receipts-table" role="tabpanel">
                                <table class="table table-hover" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs-down">ID</th>
                                            <th>Product</th>
                                            <th>Factory</th>
                                            <th>QTY.</th>
                                            <th>Timestamp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="transfers-table" role="tabpanel">
                                <table class="table table-hover" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs-down">ID</th>
                                            <th>Product</th>
                                            <th>Origin</th>
                                            <th>QTY.</th>
                                            <th>Timestamp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <% include partials/universal-dependencies/external-js.ejs %>
    </body>
</html>