<!-- Grid of Informative Cards -->
<article class="row" id="infocards">
    <!-- New Row -->
    <div class="row no-gutters">

        <!-- Column -->
        <div class="col-lg-5 col-md-5 no-padding-x" id="infocards-products">

            <section class="card">
                <h5 class="card-header">Products</h5>

                <section class="card-block">
                    <h1 class="card-title">...</h1>
                    <p class="card-text">So many products! Explore the catelog and be sure that you're always stocked up.</p>
                    <a href="#" class="btn btn-outline-primary hidden-md-down card-buttons">Explore Products & Inventory</a>
                    <a href="#" class="btn btn-outline-primary hidden-lg-up btn-sm card-buttons">Explore Products & Inventory</a>
                </section>
            </section>

        </div>

        <!-- Column -->
        <div class="col-lg-3 col-md-3 no-padding-x">

            <section class="card" id="infocards-inventory">
                <p class="card-header">Inventory</p>

                <section class="card-block">
                    <h4 class="card-text">
                        <span>...</span> 
                        <small>(In-Stock)</small>
                    </h4>
                </section>
            </section>

            <section class="card" id="infocards-categories">
                <p class="card-header">Categories</p>
                
                <section class="card-block">
                    <h4 class="card-text">
                        <span>...</span>
                        <small>(Total)</small>
                    </h4>
                </section>
            </section>

        </div>

        <!-- Column -->
        <div class="col-lg-3 col-md-3 no-padding-x">

            <section class="card" id="infocards-directory">
                <p class="card-header">Directory</p>

                <section class="card-block">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h4>
                                <span id="dash-grid-depots">...</span> 
                                <small>Depots</small>
                            </h4>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <span id="dash-grid-factories">...</span>
                                <small>Factories</small>
                            </h4>
                        </li>
                    </ul>

                    <a href="#" class="btn btn-outline-primary btn-sm card-buttons">Open</a>

                </section>
            </section>

        </div>
        
    </div>

    <!-- New Row -->
    <div class="row no-gutters">
        <!-- Column -->
        <div class="col-lg-5 col-md-5 no-padding-x" id="infocards-logs">

            <section class="card">
                <p class="card-header">Logs (This Month)</p>
                <section class="card-block">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h4>
                                <span id="dash-grid-transferins">...</span> 
                                <small>Transfer Ins</small>
                            </h4>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <span id="dash-grid-transferouts">...</span> 
                                <small>Transfer Outs</small>
                            </h4>
                        </li>
                        <li class="list-group-item">
                            <h4>
                                <span id="dash-grid-receipts">...</span> 
                                <small>Receipts</small>
                            </h4>
                        </li>
                    </ul>

                    <a href="#" class="btn btn-outline-primary btn-sm card-buttons">View Details</a>

                </section>
            </section>

        </div>
        <!-- Column -->
        <div class="col-lg-6 col-md-6 no-padding-x">

            <section class="card" id="infocards-about">
                
                <p class="card-header">About Us</p>

                <section class="card-block">
                    <h4 class="card-title">...</h4>
                    <p class="text"></p>
                    <a href="" target="_blank"></a>
                    <p class="text"></p>
                </section>

            </section>

        </div>

    </div>


</article>