
<div class="col-lg-3 col-md-3">
    <nav id="sidebar">
        <section id="sidebar-heading">
            <button type="button" class="close sidebar-toggle" id="sidebar-close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <h1>Stock Transfer & Receipt Module</h1>
        </section>

        <section id="sidebar-location">
            <section>
                <span class="glyphicon glyphicon-map-marker"></span>
                <span id="locationName"><%= loc.name %></span>
                <br><small id="locationid">ID: <span><%= loc._id %></span></small>
            </section>

        </section>
        <nav class="nav flex-column">
            <a class="nav-link" href="/demo"><span class="glyphicon glyphicon-th"></span>Dashboard</a>
            <a class="nav-link" href="/demo/scan"><span class="glyphicon glyphicon-qrcode"></span>Scan</a>
            <a class="nav-link" href="/demo/transfers"><span class="glyphicon glyphicon-transfer"></span>Transfer Out</a>
            <a class="nav-link" href="/demo/inventory"><span class="glyphicon glyphicon-search"></span>Inventory</a>
            <a class="nav-link" href="/demo/logs"><span class="glyphicon glyphicon-duplicate"></span>Logs</a>
            <a class="nav-link" href="/demo/directory"><span class="glyphicon glyphicon-tasks"></span>Directory</a>
        </nav>
    </nav>
</div>
